<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Best_Quiz_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Best_Quiz_App.Properties.Settings.Quiz_dbConnectionString"
            connectionString="Data Source=DESKTOP-9AIKQH8\SQLEXPRESSNILSN;Initial Catalog=Quiz_db;Persist Security Info=True;User ID=sa;Password=111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Best_Quiz_App.Properties.Settings>
            <setting name="form_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="password_save" serializeAs="String">
                <value>lolkopf3</value>
            </setting>
            <setting name="user_name" serializeAs="String">
                <value>nils.naepflin</value>
            </setting>
            <setting name="checkAccountWindowOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settings_quiz_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkMainMenu" serializeAs="String">
                <value>0</value>
            </setting>
        </Best_Quiz_App.Properties.Settings>
    </userSettings>
</configuration>